

body {
    background-color: #006600;
}

h1 {
    color: #656363;
    margin-left: 20px;
}

#tabela, td, th {
    
    text-align: center;
    text-height: auto;
    text-indent: 2px;
    background-color: #A8A8A8;
    color: #303030;
    max-width: 400px;
    width: 100%;
    word-wrap: break-word;
    font-size: 18px;
    font: Consolas;
    padding: 15px;
    align-content: center;
    margin: 0 auto;
    
    -webkit-column-width: 100%; /* Chrome, Safari, Opera */
    -moz-column-width: 400px; /* Firefox */
    column-width: 200px;
    
    
    
}

#colunaId {
    
    text-align: center;
    text-height: auto;
    text-indent: 2px;
    align-content: center;
    background-color: #383838;
    color: #E8E8E8;
    font: Consolas;
    font-size: 16px;
    padding: 15px;
    
    column-width: 60px;
    max-width: 80px;
    
}

#divTabela{
    
    background-color: #333333;
    min-width: 400px;
    padding: 50px;
        
}

.destaque{
    
    font-size: 28px;
    color: #cccc00;
    
}