/Projetos/Java/Leitor de XML/Spring/XMLFtview/nbproject/private/
/Projetos/Java/Leitor de XML/Spring/XMLFtview/build/
/TELAS XML/XMLFtview/nbproject/private/
/TELAS XML/XMLFtview/build/
/TELAS XML/XMLFtview/dist/
/nbproject/private/
/build/
/dist/