<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet-mapping>
        <servlet-name>ServletPesquisa</servlet-name>
        <url-pattern>/sp</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
            index.html
        </welcome-file>
    </welcome-file-list>
    <display-name>NomeDoServlet</display-name>
    <!-- Definição do Servlet que vai controlar as chamadas do webclient -->
    <servlet>
        <description/>
        <!-- Nome que será mostrado no log -->
        <display-name>NomeDoServletInterno</display-name>
        <!-- Alias do Servlet -->
        <servlet-name>ServletControl</servlet-name>
        <!-- Classe real a ser invocada -->
        <servlet-class>br.com.adam.xmlftview.controller.ServletControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletPesquisa</servlet-name>
        <servlet-class>br.com.adam.xmlftview.controller.ServletPesquisa</servlet-class>
    </servlet>
    <servlet-mapping>
        <!-- Alias do Servlet e como ele deve ser chamado pelo webclient -->
        <servlet-name>ServletControl</servlet-name>
        <!-- No arquivo META-INF/context.xml existe o início do URL
        No caso é: <Context path="/XMLFtview"/>. Então para acessar os serviços da 
        classe o usuário deve digitar todo o endereço do do path mais o acessor do Servlet:
        url-servidor:porta/XMLFtview/control-->
        <url-pattern>/chamaControle</url-pattern>
    </servlet-mapping>
</web-app>
